.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.img-result {
	width: 50%;
	position: relative;
}
.result {
	margin-top: 30px;
	width: 50%;
}
.gray-msg {
	text-align: center;
	margin-top: 30px;
}
#gun-sight {
	position: absolute;
	left: 400;
	bottom: 200;
}
#map-image {
	position: relative;
}

#books-listing {
	width:80%;
}

#main-content
{
	/*
	border-style: solid;
	border-color: rgb(201, 180, 125);
	border-width: 1px;
	padding-top: 20px;
	min-height: 500px;
	min-width: 800px;
	*/
}

.main-box>.chosen-container
{
	display: block;
  margin-left: auto;
  margin-right: auto;
  zoom: 1.2;
  margin-top: 50px;
}

img.thumbnail
{
  float: left;
  height: 100px;
  margin:10px;
}

img.format-icon
{
  float: right;
  position: relative;
  bottom: 57px;
}

ul {
    background-color: white;
}

ul li {
    border: solid lightgray 1px;
}

div.item-descr
{
    /*font-style:oblique;*/
    padding-left: 17%;
}

div.item
{
	margin:20px;
  height:auto;
  overflow: scroll;
}

a.brand.with-img
{
  padding: 0px;
}

/*CHANGED*/
.nav img,
a#toptitle,
.inline
{
    display:inline;
    font-size: 40px;
}


.nav>li[class="active"]>a
{
  padding:0;
  padding-right: 10px;
}

.highlight-box
{
    background-color: #ccdef3;
    min-height: 400px;
    padding-bottom: 30px;
}

.highlight-box-info{
    margin-top: 10px;
    padding-top: 40px;
    background-color: #ccdef3;
    min-height: 400px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#map-image-img{
    height: 357px;
    background-size: cover;
}

#intro-info
{
  /*position: relative;*/
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  display: block;
}

/*CHANGED*/

.img-label {
  padding-top: 10px;
  height: 80px;
  display:inline-block;
  width: 100%;
}

.new-search {
     border-radius:5px;
     background-color: #f05a24;
     color:white;
     border: hidden;
     height: 50px;
     width: 140px;
     font-size: 17px;
     float:right;
     margin-top: 30px;
     margin-left: 20px;
 }

.new-search-long {
  border-radius:5px;
  background-color: #f05a24;
  color:white;
  border: hidden;
  height: 50px;
  width: 210px;
  font-size: 17px;
  float:right;
  margin-top: 30px;
  margin-left: 20px;
}

.search-input
{
  margin-top: 50px;
}

#type-selector
{
    width: 100px;
}

#format-selector
{
    width: 130px;
}
/*---------the sticky footer----------*/

 /* Sticky footer styles
      -------------------------------------------------- */

  html,
  body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
  }

  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 680px;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto;
  }


  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  #wrap > .container {
    padding-top: 200px;
  }
  .container .credit {
    margin: 20px 0;
  }

  code {
    font-size: 80%;
  }